@import './var';

:root {
  --c-brand: #{$primary};
  --c-brand-light: #{lighten($primary, 5%)};
  --mdc-typography-button-text-transform: capitalize
}

.mdc-tab {
  font-weight: 500;
  height: 40px;

  &--active {
    background: rgba($primary, 0.2);
  }
}
